@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Purchase";
}
<div class="text-center">
    <h3>Product Purchase</h3>
    <hr />
    <br />
    <h6 style="color:green"> Order Successfully Placed (: </h6>
    <p>
        Thank you for placing your order ,
        <br />Your Order will be delivered to your Address in the next 7 working days.<br />
        Be sure to be at the adress to collect it.
    </p>
</div>
